.ai-assistant-panel-container {
    display: flex;
    min-width: 250px;
    padding: 0 10px;
    margin-top: 10px;
    align-items: center;
    justify-content: space-between;
    background-color: #25D8C5;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

.ai-assistant-panel-container-open {
    position: absolute;
    left: 0;
    top: -75px;
    transition-duration: .4s;
}

.ai-assistant-panel-container-close {
    position: absolute;
    left: -300px;
    top: -75px;
    transition-duration: .4s;
}

.ai-asisstant-panel-item {
    padding: 0 5px;
    margin: 5px;
    border-radius: 8px;
}

.ai-asisstant-panel-item-active {
    padding: 0 5px;
    margin: 5px;
    border-radius: 8px;
    background-color: rgba(0, 0, 0, .1);
}

.ai-asisstant-panel-item:hover {
    background-color: rgba(0, 0, 0, .05);
    transition-duration: .3s;
}

